.app-nav {
  padding: 0 2rem 1rem 2rem;
  background: var(--color-white);
  color: var(--color-black);

  ul {
    li {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      a {
        color: var(--color-secondary);
        text-decoration: none;

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
